In [1]:
student_details = {
    'Eren': {'Math': 85, 'Data Science': 80, 'Statistics': 84, 'English': 80},
    'Armin': {'Math': 95, 'Data Science': 86, 'Statistics': 84, 'English': 82},
    'Mikasa': {'Math': 86, 'Data Science': 81, 'Statistics': 85, 'English': 79}
}

In [2]:
def add_student():
    try:
        count = int(input('Number of students you want to add: '))
    except ValueError:
        print('Please enter a valid integer.')
        count = int(input('Number of students you want to add: '))
    for _ in range(count):
        name = input('Name: ')
        numbers = []
        subjects = ['Math', 'Data Science', 'Statistics', 'English']
        for subject in subjects:
            while True:
                try:
                    number = int(input(f'{subject}: '))
                    if 0 <= number <= 100:
                        numbers.append(number)
                        break
                    else:
                        print('Number must be between 0 and 100.')
                except ValueError:
                    print('Please enter a valid number.')
        student_details[name] = dict(zip(subjects, numbers))

In [4]:
def update_number(name=None, sub=None, update_score=None):
    if name is None:
        name = input('Name: ')
    
    valid = name in student_details
    if valid:
        if sub is None:
            sub = input('Subject: ')
        
        if sub.casefold() in ['math', 'data science', 'statistics', 'english']:
            try:
                update_score = int(input('Updated Score= '))
            except ValueError:
                print('Please enter an integer between 0 and 100.')
                update_score = int(input('Updated Score= '))
            
            if 0 <= update_score <= 100:
                student_details[name][sub.title()] = update_score
            else:
                print('Please enter a number between 0 and 100.')
                update_number(name, sub)
        else:
            print('Choose a subject from Math, Data Science, Statistics, or English.')
            update_number(name)
    else:
        print('Please provide a valid student.')
        update_number()

    return

In [5]:
def print_student_details():
    name = input('Name: ')
    if name in student_details:
        print(f'''Student Name: {name} Marks:-
        Math: {student_details[name]['Math']}
        Data Science: {student_details[name]['Data Science']}
        Statistics: {student_details[name]['Statistics']}
        English: {student_details[name]['English']}''')
    else:
        print('Invalid student name. Please try again.')
        print_student_details()

In [6]:
def average_number(name=None):
    if name is None:
        name = input('Name:')
    
    valid = name in student_details
    if valid:
        average = (
            student_details[name]['Math'] +
            student_details[name]['Data Science'] +
            student_details[name]['Statistics'] +
            student_details[name]['English']
        ) / 4
        
        print(f'Average marks of {name} is {average}')
    else:
        print('Please provide a valid student name')
        average_number()

In [7]:
def highest_number(name=None):
    if name is None:
        name = input('Name:')
    
    valid = name in student_details
    if valid:
        highest_score = student_details[name]['Math']
        
        # Find the highest score
        for key in student_details[name]:
            if student_details[name][key] > highest_score:
                highest_score = student_details[name][key]
        
        # Find the subject(s) with the highest score
        for key in student_details[name]:
            if student_details[name][key] == highest_score:
                print(f'Highest marks of {name} is {highest_score} and the highest scoring subject is {key}')
    else:
        print('Please provide a valid student name')
        highest_number()

In [8]:
def lowest_number(name=None):
    if name is None:
        name = input('Name:')
    
    valid = name in student_details
    if valid:
        lowest_score = student_details[name]['Math']
        
        # Find the lowest score
        for key in student_details[name]:
            if student_details[name][key] < lowest_score:
                lowest_score = student_details[name][key]
        
        # Find the subject(s) with the lowest score
        for key in student_details[name]:
            if student_details[name][key] == lowest_score:
                print(f'Lowest marks of {name} is {lowest_score} and the lowest scoring subject is {key}')
    else:
        print('Please provide a valid student name')
        lowest_number()

In [9]:
def student_statistics():
    name = input('Name:')
    
    valid = name in student_details
    if valid:
        average_number(name)
        highest_number(name)
        lowest_number(name)
    else:
        print('Please provide a valid student name')
        student_statistics()

In [10]:
def remove_student():
    name = input('Name:')
    
    valid = name in student_details
    if valid:
        student_details.pop(name)
    else:
        print('Please provide a valid student name')
        remove_student()

In [11]:
add_student()
student_details

Number of students you want to add:  e

Please enter a valid integer.

Number of students you want to add:  1
Name:  Levi
Math:  t

Please enter a valid number.

Math:  101

Number must be between 0 and 100.

Math:  99
Data Science:  99
Statistics:  99
English:  99

{'Eren': {'Math': 85, 'Data Science': 80, 'Statistics': 84, 'English': 80},
 'Armin': {'Math': 95, 'Data Science': 86, 'Statistics': 84, 'English': 82},
 'Mikasa': {'Math': 86, 'Data Science': 81, 'Statistics': 85, 'English': 79},
 'Levi': {'Math': 99, 'Data Science': 99, 'Statistics': 99, 'English': 99}}

In [12]:
update_number()
student_details

Name:  Er

Please provide a valid student.

Name:  Eren
Subject:  Ma

Choose a subject from Math, Data Science, Statistics, or English.

Subject:  math
Updated Score=  t

Please enter an integer between 0 and 100.

Updated Score=  101

Please enter a number between 0 and 100.

Updated Score=  86

{'Eren': {'Math': 86, 'Data Science': 80, 'Statistics': 84, 'English': 80},
 'Armin': {'Math': 95, 'Data Science': 86, 'Statistics': 84, 'English': 82},
 'Mikasa': {'Math': 86, 'Data Science': 81, 'Statistics': 85, 'English': 79},
 'Levi': {'Math': 99, 'Data Science': 99, 'Statistics': 99, 'English': 99}}

In [13]:
average_number()

Name: Er

Please provide a valid student name

Name: Eren

Average marks of Eren is 82.5

In [14]:
highest_number()

Name: Er

Please provide a valid student name

Name: Eren

Highest marks of Eren is 86 and the highest scoring subject is Math

In [15]:
lowest_number()

Name: Er

Please provide a valid student name

Name: Eren

Lowest marks of Eren is 80 and the lowest scoring subject is Data Science
Lowest marks of Eren is 80 and the lowest scoring subject is English

In [16]:
student_statistics()

Name: Ar

Please provide a valid student name

Name: Armin

Average marks of Armin is 86.75
Highest marks of Armin is 95 and the highest scoring subject is Math
Lowest marks of Armin is 82 and the lowest scoring subject is English

In [17]:
remove_student()

Name: Er

Please provide a valid student name

Name: Eren

In [18]:
student_details

{'Armin': {'Math': 95, 'Data Science': 86, 'Statistics': 84, 'English': 82},
 'Mikasa': {'Math': 86, 'Data Science': 81, 'Statistics': 85, 'English': 79},
 'Levi': {'Math': 99, 'Data Science': 99, 'Statistics': 99, 'English': 99}}