Studen Exam Score Tracker

Subject1=Math
Subject2=Data Science
Subject3=Statistics
Subject4=English

In [1]:
student_details={
    'Eren':[80,75,67,85],
    'Armin':[95,80,77,83],
    'Mikasa':[90,82,74,85]
}

In [2]:
def Add_Student(count):
    class error(Exception):
        pass
    class wrong_score(error):
        pass
    for i in range(0,count):
        name=input('Name:')
        numbers=[]
        j=0
        while(j<4):
            subject=int(input(f'Subject{j+1}:'))
            try:
                if(subject<=100 and subject>=0):
                    numbers.append(subject)
                    j+=1
                else:
                    raise wrong_score
            except:
                print('Try to choose number between 0 to 100')
        student_details[name]=numbers

In [3]:
def Update_Score(name,sub,update_score):
    class error(Exception):
        pass
    class wrong_sub(error):
        pass
    class wrong_score(error):
        pass
    try:
        subject_number=0
        if(sub.casefold()=='math' or sub.casefold()=='data science' or sub.casefold()=='statistics' or sub.casefold()=='english'):
            if(sub.casefold()=='math'):
                subject_number=1
            elif(sub.casefold()=='data science'):
                subject_number=2
            elif(sub.casefold()=='statistics'):
                subject_number=3
            else:
                subject_number=4
        else:
            raise wrong_sub
    except:
        print('Choose subject between Math,Data Science,Statistics,English')
    try:
        if(update_score<=100 and update_score>=0):
            pass
        else:
            raise wrong_score
    except:
        print('Try to choose number between 0 to 100')
    if(subject_number==1 or subject_number==2 or subject_number==3 or subject_number==4):
        if(update_score>=0 and update_score<=100):
            student_details[name][subject_number-1]=update_score
        else:
            pass
    else:
        pass

In [4]:
def Avarage_Number(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            avarage=sum(student_details[name])/4
            print(f'Avarge marks of {name} is {avarage}')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [5]:
def Heighest_Number(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            heighest_score=max(student_details[name])
            print(f'Heighest marks of {name} is {heighest_score}')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [6]:
def Lowest_Number(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            lowest_score=min(student_details[name])
            print(f'Lowest marks of {name} is {lowest_score}')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [7]:
def Student_Statistics(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            Avarage_Number(name)
            Heighest_Number(name)
            Lowest_Number(name)
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [8]:
def Remove_Student(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            student_details.pop(name)
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [9]:
def Print(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            print(f'''Student Name {name} Marks:-
            Math:{student_details[name][0]}
            Data Science:{student_details[name][1]}
            Statistics:{student_details[name][2]}
            English:{student_details[name][3]}''')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [10]:
Add_Student(2)
print(student_details)
Print('Eren')
Avarage_Number('Erwin')

Name: Levi
Subject1: 99
Subject2: 99
Subject3: 99
Subject4: 99
Name: Erwin
Subject1: 99
Subject2: 98
Subject3: 97
Subject4: 96

{'Eren': [80, 75, 67, 85], 'Armin': [95, 80, 77, 83], 'Mikasa': [90, 82, 74, 85], 'Levi': [99, 99, 99, 99], 'Erwin': [99, 98, 97, 96]}
Student Name Eren Marks:-
            Math:80
            Data Science:75
            Statistics:67
            English:85
Avarge marks of Erwin is 97.5

In [11]:
Student_Statistics('Erwin')

Avarge marks of Erwin is 97.5
Heighest marks of Erwin is 99
Lowest marks of Erwin is 96