In [1]:
student_details={
    'Eren':{'Math':85,'Data Science':80,'Statistics':84,'English':78},
    'Armin':{'Math':95,'Data Science':86,'Statistics':84,'English':82},
    'Mikasa':{'Math':86,'Data Science':81,'Statistics':85,'English':79}
}

In [2]:
def Add_Student(count):
    class error(Exception):
        pass
    class wrong_score(error):
        pass
    for i in range(0,count):
        name=input('Name:')
        numbers=[]
        j=0
        subjects=['Math','Data Science','Statistics','English']
        while(j<4):
            number=int(input(f'{subjects[j]}:'))
            try:
                if(number<=100 and number>=0):
                    numbers.append(number)
                    j+=1
                else:
                    raise wrong_score
            except:
                print('Try to choose number between 0 to 100')
        subs={'Math':numbers[0],'Data Science':numbers[1],'Statistics':numbers[2],'English':numbers[3]}        
        student_details[name]=subs

In [3]:
Add_Student(1)
student_details

Name: Levi
Math: 99
Data Science: 99
Statistics: 99
English: 99

{'Eren': {'Math': 85, 'Data Science': 80, 'Statistics': 84, 'English': 78},
 'Armin': {'Math': 95, 'Data Science': 86, 'Statistics': 84, 'English': 82},
 'Mikasa': {'Math': 86, 'Data Science': 81, 'Statistics': 85, 'English': 79},
 'Levi': {'Math': 99, 'Data Science': 99, 'Statistics': 99, 'English': 99}}

In [4]:
def Update_Score(name,sub,update_score):
    class error(Exception):
        pass
    class wrong_sub(error):
        pass
    class wrong_score(error):
        pass
    class Invalid_Student(error):
        pass
    for key in student_details:
        if(name==key):
            valid=1
            break    
    try:
        if(valid==1):
            try:
                if(sub.casefold()=='math' or sub.casefold()=='data science' or sub.casefold()=='statistics' or sub.casefold()=='english'):
                    pass
                else:
                    raise wrong_sub
            except:
                print('Choose subject between Math,Data Science,Statistics,English')
            try:
                if(update_score<=100 and update_score>=0):
                    if(sub.casefold()=='math' or sub.casefold()=='data science' or sub.casefold()=='statistics' or sub.casefold()=='english'):
                        student_details[name][sub]=update_score
                else:
                    raise wrong_score
            except:
                print('Try to choose number between 0 to 100')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student')

In [5]:
Update_Score('Eren','Math',86)
student_details

{'Eren': {'Math': 86, 'Data Science': 80, 'Statistics': 84, 'English': 78},
 'Armin': {'Math': 95, 'Data Science': 86, 'Statistics': 84, 'English': 82},
 'Mikasa': {'Math': 86, 'Data Science': 81, 'Statistics': 85, 'English': 79},
 'Levi': {'Math': 99, 'Data Science': 99, 'Statistics': 99, 'English': 99}}

In [6]:
def Avarage_Number(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            avarage=(student_details[name]['Math']+student_details[name]['Data Science']+student_details[name]['Statistics']+student_details[name]['English'])/4
            print(f'Avarge marks of {name} is {avarage}')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [7]:
Avarage_Number('Eren')

Avarge marks of Eren is 82.0

In [8]:
def Heighest_Number(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            heighest_score=student_details[name]['Math']
            for key in student_details[name]:
                if(student_details[name][key]>heighest_score):
                    heighest_score=student_details[name][key]
            for key in student_details[name]:
                if(student_details[name][key]==heighest_score):
                    print(f'Heighest marks of {name} is {heighest_score} and heighest scoring subject is {key}')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [9]:
Heighest_Number('Armin')

Heighest marks of Armin is 95 and heighest scoring subject is Math

In [10]:
def Lowest_Number(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            lowest_score=student_details[name]['Math']
            for key in student_details[name]:
                if(student_details[name][key]<lowest_score):
                    lowest_score=student_details[name][key]
            for key in student_details[name]:
                if(student_details[name][key]==lowest_score):
                    print(f'Lowest marks of {name} is {lowest_score} and Lowest scoring subject is {key}')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [11]:
Lowest_Number('Eren')

Lowest marks of Eren is 78 and Lowest scoring subject is English

In [12]:
def Student_Statistics(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            Avarage_Number(name)
            Heighest_Number(name)
            Lowest_Number(name)
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [13]:
Student_Statistics('Armin')

Avarge marks of Armin is 86.75
Heighest marks of Armin is 95 and heighest scoring subject is Math
Lowest marks of Armin is 82 and Lowest scoring subject is English

In [14]:
def Remove_Student(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            student_details.pop(name)
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [15]:
Remove_Student('Eren')
student_details

{'Armin': {'Math': 95, 'Data Science': 86, 'Statistics': 84, 'English': 82},
 'Mikasa': {'Math': 86, 'Data Science': 81, 'Statistics': 85, 'English': 79},
 'Levi': {'Math': 99, 'Data Science': 99, 'Statistics': 99, 'English': 99}}

In [16]:
def Print(name):
    class error(Exception):
        pass
    class Invalid_Student(error):
        pass
    valid=0    
    for key in student_details:
        if(name==key):
            valid=1
            break
    try:
        if(valid==1):
            print(f'''Student Name {name} Marks:-
            Math:{student_details[name]['Math']}
            Data Science:{student_details[name]['Data Science']}
            Statistics:{student_details[name]['Statistics']}
            English:{student_details[name]['English']}''')
        else:
            raise Invalid_Student
    except:
        print('Try to give a valid student name')

In [17]:
Print('Levi')

Student Name Levi Marks:-
            Math:99
            Data Science:99
            Statistics:99
            English:99